{% extends 'layout.html' %}

{% block content %}
    <div class="main-front">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/weebmyip.png') }}" alt="weebmyip logo">
        </div>
        <div class="main-input">
          <form action="{{ url_for('home_post') }}" method="POST">
            <input class="basic-input" type="text" name="ip" placeholder="8.8.8.8" value="{{data.IP}}" onfocus="this.placeholder=''" onblur="this.placeholder='8.8.8.8'">
            <input class="form-button" type="image" src="{{ url_for('static', filename='img/volume.svg') }}" alt="Submit">
          </form>
          {% if data.error %}<p class="error">{{data.error}}<img class="emote" src="/static/emotes/{{data.emote}}"></p>{% endif %}
		  <audio id="audio" src="{{data.audio}}"></audio>
    	</div>
        <div class="play-ip">
          <input type="image" src="{{ url_for('static', filename='img/touchme.png') }}" alt="touch me senpai" onclick="random_play();">
        </div>
    </div>
    <script>
      let mainNav = document.getElementById('menu');
      let navBarToggle = document.getElementById('js-nav-toggle');

      navBarToggle.addEventListener('click', function () {
        mainNav.classList.toggle('activate');
      });
      window.onload=function(){
        document.getElementById("audio").play();
      }
    </script>{% endblock %}