<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="WeebMyIP">
    <meta property="og:image" content="{{ url_for('static', filename='img/preview.png') }}">
    <meta property="og:description" content="IP Lookup With the help of an Anime Girl!">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/roboto.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
	{% if data.title %}<title>WeebMyIP - {{data.title}}</title>{% else %}<title>WeebMyIP</title>{% endif %}
  </head>
  <body>
    <header>
      <nav>
        <span class="nav-toggle" id="js-nav-toggle">
          <img src="{{ url_for('static', filename='img/burger.png') }}" alt="burger menu">
        </span>
        <ul id="menu">
          <a href="{{url_for('home')}}"><li {% if data.title == "Home" %}class="active"{% endif %}>Basic</li></a>
          <a href="{{url_for('advanced')}}"><li {% if data.title == "Advanced" %}class="active"{% endif %}>Advanced</li></a>
          <a href="{{url_for('API')}}"><li {% if data.title == "API" %}class="active"{% endif %}>API</li></a>
          <a href="{{url_for('about')}}"><li {% if data.title == "About" %}class="active"{% endif %}>About</li></a>
        </ul>
      </nav>
    </header>{% block content %}{% endblock %}
  </body>
</html>

